

@import './colors';
@import './fonts';

.about-us{
  background-color: $chai;
}

@media (max-width: 1199px){
  .about-us{
    height: 60vh;
    border-radius: 0px 0px 20px 20px;
    img.details{
      position: absolute;
    }
    img#top{
      left: -30%;
      z-index: 0;
      opacity: 0.3;
    }
    img#bottom{
      z-index: 0;
      left: 63%;  
      margin-top: 50%;
      opacity: 0.3;
    }
    h2.about-us-title{
      color: $matcha;
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      text-align: center;
      padding: 40px 0px;
    }
    p.about-us-description{
      font-weight: bold;
      font-size: 1.4rem;
      font-family: 'garet', sans-serif;
      width: 300px;
      margin: auto;
      text-align: center;
    }
  }
}