
@import './colors';
@import './fonts';


@media (max-width: 1199px){
  header.container-top{
    border-radius: 0px 0px 15px 15px;
    align-content: center;
    height: 150px;
    img.logo{
      background-color: $carob;
      border-radius: 50%;
      border: 0.25px solid $almond;
      margin: auto;
      display: flex;
      width: 80px;
      height: 80px;
    }
    h1.cafe-name{
      color: $almond;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }
  }
}

@media (min-width: 1200px){
  img.logo{
    margin: auto;
    display: flex;
    width: 100px;
    background-color: $carob;
    border-radius: 50%;
  }

  h1.cafe-name{
    color: $almond;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
}
