@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #f8f8f8;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #D2AB80;
}

body::-webkit-scrollbar-thumb {
  background-color: #809671;
  border-radius: 20px;
  border: none;
}

.hiddenN {
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showN {
  transform: translateX(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

.hiddenY {
  transform: translateY(100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showY {
  transform: translate(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

@media (max-width: 720px) {
  body {
    max-width: 100%;
    margin: auto;
  }
}
@font-face {
  font-family: "garet";
  src: url(../../fonts/Garet-Book.otf);
}
@media (max-width: 1199px) {
  header.container-top {
    border-radius: 0px 0px 15px 15px;
    align-content: center;
    height: 150px;
  }
  header.container-top img.logo {
    background-color: #725C3A;
    border-radius: 50%;
    border: 0.25px solid #E5E0D8;
    margin: auto;
    display: flex;
    width: 80px;
    height: 80px;
  }
  header.container-top h1.cafe-name {
    color: #E5E0D8;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
}
@font-face {
  font-family: "garet";
  src: url(../../fonts/Garet-Book.otf);
}
.detail {
  color: #809671;
}

.content-first {
  height: 94vh;
  width: 100%;
}

@media (max-width: 1199px) {
  .content-first {
    position: relative;
  }
  .content-first img.details {
    opacity: 0.8;
    position: absolute;
  }
  .content-first img#top {
    left: -30%;
    top: -12%;
    z-index: -1;
  }
  .content-first img#bottom {
    z-index: -1;
    top: 48%;
    left: 60%;
  }
  .content-first h1.hello-page {
    color: #809671;
    font-size: 2.6rem;
    text-align: center;
    padding: 50px 0px;
    font-family: "garet", sans-serif;
  }
  .content-first p.introduction {
    font-size: 2.1rem;
    width: 300px;
    margin: auto;
    text-align: center;
  }
  .content-first .buttons {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content-first .buttons a.target {
    margin: auto;
    border-radius: 25px;
    background-color: #E5D2B8;
    height: 200px;
    border: none;
    width: 80%;
  }
  .content-first .buttons a.target button.direction {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #725C3A;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Belleza", sans-serif;
  }
  .content-first .buttons a.target button.direction .material-symbols-outlined {
    font-size: 75px;
  }
  .content-first .buttons a.target button.direction:hover {
    transition: 0.6s;
    box-shadow: 0px 0px 20px #B3B792;
  }
}
@font-face {
  font-family: "garet";
  src: url(../../fonts/Garet-Book.otf);
}
.about-us {
  background-color: #D2AB80;
}

@media (max-width: 1199px) {
  .about-us {
    height: 59vh;
    border-radius: 0px 0px 20px 20px;
  }
  .about-us img.details {
    position: absolute;
  }
  .about-us img#top {
    left: -30%;
    z-index: 0;
    opacity: 0.3;
  }
  .about-us img#bottom {
    z-index: 0;
    left: 63%;
    margin-top: 50%;
    opacity: 0.3;
  }
  .about-us h2.about-us-title {
    color: #809671;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    text-align: center;
    padding: 40px 0px;
  }
  .about-us p.about-us-description {
    font-weight: bold;
    font-size: 1.4rem;
    font-family: "garet", sans-serif;
    width: 300px;
    margin: auto;
    text-align: center;
  }
}
@font-face {
  font-family: "garet";
  src: url(../../fonts/Garet-Book.otf);
}
.nav h3.our-links {
  color: #725C3A;
  padding: 60px 0px 30px 0px;
  text-align: center;
  font-size: 2.2rem;
  font-family: "garet", sans-serif;
}
.nav nav.nav-bar {
  width: 65%;
  margin: auto;
  align-self: center;
}
.nav nav.nav-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav nav.nav-bar a {
  font-size: 1.4rem;
  text-decoration: none;
  font-family: "Belleza", sans-serif;
  color: #B3B792;
  line-height: 1.5;
  display: inline-block;
}

@font-face {
  font-family: "garet";
  src: url(../../fonts/Garet-Book.otf);
}
.cafes {
  align-content: center;
  padding-top: 80px;
}
.cafes .container-top {
  height: 170px;
  border-radius: 0px 0px 25px 25px;
  align-content: center;
  margin-bottom: 20px;
}
.cafes .container-top h1.coffe-name {
  color: #D2AB80;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.6rem;
}
.cafes .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 80%;
  padding: 20px;
  margin: auto;
}
.cafes .item .image {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}
.cafes .item .item-content {
  text-align: start;
  width: 70%;
  margin: auto;
}
.cafes .item h4.item-name {
  font-weight: boldf;
  font-size: 1.1rem;
  font-family: "garet", sans-serif;
  color: #725C3A;
}
.cafes .item p.ingredients {
  color: #725C3A;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.cafes .item span.adendo {
  color: #D2AB80;
}
.cafes .item span.price {
  color: #D2AB80;
  font-family: "Open Sans", sans-serif;
}
.cafes hr.coffes {
  color: #725C3A;
  width: 85%;
  margin: auto;
}/*# sourceMappingURL=index.css.map */