 
*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth
}

body{
  background-color: #f8f8f8;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #D2AB80; 
}

body::-webkit-scrollbar-thumb {
  background-color: #809671; 
  border-radius: 20px; 
  border: none; 
}

.hiddenN{
  transform: translateX(-100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showN{
  transform: translateX(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

.hiddenY{
  transform: translateY(100%);
  opacity: 0;
  filter: blur(10px);
  transition: all 0.6s ease;
}

.showY{
  transform: translate(0);
  filter: blur(0px);
  transition: all 0.8s ease;
  opacity: 1;
}

 @import './components/header';
 @import './components/content-top';
 @import './components/about';
 @import './components/links';
 @import './components/cardapio';